body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", cursive;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

#game-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px; /* Espacio debajo del título */
}

#audio-button {
    width: 50px;
    height: 50px;
    background-color: white; /* Fondo blanco */
    border: 2px solid black; /* Borde de 2px sólido negro */
    border-radius: 50%; /* Bordes redondeados para hacer un círculo */
    cursor: pointer;
    outline: none; /* Elimina el contorno al hacer clic */
}

#audio-button:hover {
    border-color: red; /* Cambia el color del borde al pasar el mouse */
}

#audio-image {
    width: 100%;
    height: 100%;
    opacity: 0; /* Hace la imagen transparente para que solo se vea el fondo */
}


#options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.1);
}

#result {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#emojis {
    font-size: 100px; /* Tamaño de fuente más grande para los emojis */
}

#popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
   text-align: center;
}

#popup-message {
    font-size: 24px;
}

#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

#restart:hover {
    background-color: #0b7dda;
}
