body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", cursive;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

#game-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px; /* Espacio debajo del título */
}

/* Estilos para el botón imagen */
.custom-button {
    width: 100px; /* Ancho de la imagen */
    height: 100px; /* Alto de la imagen */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

.custom-button:focus {
    outline: none; /* Eliminar el contorno al hacer clic */
}

/* Otros estilos para la imagen según sea necesario */

#options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.1);
}

#result {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#emojis {
    font-size: 100px; /* Tamaño de fuente más grande para los emojis */
}

#popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
   text-align: center;
}

#popup-message {
    font-size: 24px;
}

#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

#restart:hover {
    background-color: #0b7dda;
}
